body {
  background-color: #F8F8F8;
  height: 100%;
  width: 100%;
}

.swiper-slide {
  height: 100vw;
}

/*2：1比例轮播图*/
.swiper-slide>img {
  /*保证比例不变形*/
  object-fit: cover;
  width: 100%;
  height: 100vw;
}

.swiper-pagination>span {
  width: 10vw;
  border-radius: 2px;
}


/*轮播图点点点*/

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #FF564B;
  height: 3px;
}

.swiper-pagination-bullet {
  height: 3px;
}

.weui-tabbar:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: none;
  color: #c0bfc4;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}

.weui-tabbar__item {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 1.333vw 0 0;
  font-size: 0;
  color: #999;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#tabbarBt {
  position: fixed;
  left: 4vw;
  bottom: 4vw;
  z-index: 95;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 92vw;
  height: 12vw;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2.133vw;
}


.buyNow1 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  font-size: 4vw;
  text-align: center;
  line-height: 11.1vw;
  height: 11.1vw;
  color: white;
  background:linear-gradient(90deg,rgba(247,127,152,1) 0%,rgba(230,66,110,1) 100%);
}


.buyNow1>p {
  transform: translateY(-0.8vw);
}

.buyNow2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  font-size: 4vw;
  text-align: center;
  line-height: 11.1vw;
  height: 11.1vw;
  color: white;
  background:linear-gradient(90deg,rgba(255,138,138,1) 0%,rgba(255,86,75,1) 100%);
  border-top-right-radius: 2.133vw;
  border-bottom-right-radius: 2.133vw;

}


.buyNow2>p {
  transform: translateY(-2px);
}

.product-price {
  /* width: 100%; */
  /*background-color: red;*/
  color: #FF564B;
  padding: 2.13vw 4.8vw 0 4.8vw;
  height: 8.93vw;
  line-height: 8.93vw;
  background-color: #FFFFFF;
}

.price-unit {
  font-size: 3.2vw;
}

.price {
  padding-left: 0.8vw;
  font-size: 6.4vw;
}

.price-unit-cn {
  font-size: 16px;
}

.price-right {
  color: #CCCCCC;
  font-size: 3.2vw;
  float: right;
  /* right: 2vw; */
}

.firstMarkDownContent {
  margin: 5.06vw 10.8vw;
  font-size: 3.7vw;
}


.firstMarkDownContent p{
  margin-bottom: 4vw;
}

.thirdMarkDownContent {
  margin: 5.06vw 10.8vw;
  font-size: 3.7vw;
}

.thirdMarkDownContent p{
  margin-bottom: 4vw;
}

.weui-popup__modal .modal-content1 {
  height: 100%;
  padding-top: 2.2rem;
  overflow: auto !important;
  box-sizing: border-box;
  height: 130vw !important;
}

.weui-popup__modal .modal-content2 {
  height: 100%;
  padding-top: 2.2rem;
  overflow: auto !important;
  box-sizing: border-box;
  height: 130vw !important;
}

.product-others_1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 4vw;
}

.product-others_2 {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.line {
  height: 1px;
  background-color: #F0F0F0;
}

.product-other {
  padding: 3.06vw 4.8vw;
  /* -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1; */
  /* box-sizing: border-box; */
}

.product-other:nth-child(odd) {
  border-right: 1px solid #F8F8F8;
}

.product-other-text1 {
  color: #999999;
  font-size: 4vw;
  display: inline-block;
  margin-right: 4.8vw;
}

.product-other-text2 {
  border-radius:3.2vw;
  border:0.26vw solid rgba(255,86,75,1);
  font-size:3.2vw;
  color:rgba(255,86,75,1);
  padding: 0 2.93vw;
  box-sizing: border-box;
  height: 6.4vw;
  line-height:6.4vw;
  display: inline-block;
  margin-right: 2.13vw;
}

.product-other-text3 {
  display: inline-block;
  height:5.6vw;
  font-size:4vw;
  color:rgba(51,51,51,1);
  line-height:5.6vw;
}

.product-other-text4 {
  display: inline-block;
  float: right;
  height:7vw;
  font-size:4vw;
  color:#CCCCCC;
  line-height:7vw;
}

.goodsInfoTitle {
  width: 90.4vw;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 4.53vw;
  color: #666666;
  margin-top: 4.8vw;
}


.markdownContent img {
  width: 100%;
  vertical-align: top;
}

.product-context>img {
  width: 100%;
}


.product-title {
  background-color: white;
  padding: 2.13vw 4.8vw 0 4.8vw;
  height: 13.33vw;
  max-width: 90.4vw;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-context {
  margin-top: 1vw;
}

.allPackages {
  color: black;
  margin: 0 2vw;
  margin: 2vw 0;
}

.allPackages>a {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  margin: 5px 10px;
}

.weui-popup__modal {
  min-height: 90vw;
}

.package {}

.tabBar {
  position: absolute;
  bottom: 1vw;
  width: 100%;
}

.tabBar-btn {
  width: 100%;
  background-color: red;
  color: white;
  margin: 1vw 5vw;
}

.bt-pay1 {
  background:linear-gradient(90deg,rgba(247,127,152,1) 0%,rgba(230,66,110,1) 100%);
  color: white;
  width: 90%;
  margin: 2vw 5% 2vw 5%;
  text-align: center;
  padding: 1.5vw 0;
  display: inline-block;
}

.bt-pay2 {
  background:linear-gradient(90deg,rgba(255,138,138,1) 0%,rgba(255,86,75,1) 100%);
  color: white;
  width: 90%;
  margin: 2vw 5% 2vw 5%;
  text-align: center;
  padding: 1.5vw 0;
  display: inline-block;
}

#canbox {
  display: none;
  width: 80vw;
  height: 122vw;
  /* background-color: #FFFFFF; */
  background-image: linear-gradient(to right, #ff8e05, #ff5502);
  position: fixed;
  /* top: 20vw; */
  left: 10%;
  /* margin-top: 20vw; */
}

.canimg {


  /* bottom: 5%; */
  display: none;
  /* margin-top: 30%; */
  z-index: 1000;
}

.flexContent {
  display: flex;
  /* width: 100%; */
  /* flex: 1 1 33.33%; */
  flex-direction: row;
  justify-content: space-around;
}

.userHeader {
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  /* position: fixed; */
  /* left: 20vw; */
  /* bottom: 53vw; */
  /* margin-left: 3vh; */
  margin-top: 5vw;
  border: 1px solid #ffffff;
}

.saoyisaoText {
  display: none;
  font-size: 3vw;
  /* margin-top: 30%; */
  z-index: 1000;
  color: #ffffff;
  /* margin-left: 10vw; */
}

.saoyisaoText1 {
  margin-top: 9vh;
  margin-right: 15vw;
  /* margin-top: 30%; */
  z-index: 1000;
  float: right;
}

.saoyisaoText2 {
  /* margin-top: 30%; */
  z-index: 1000;
  float: right;
  /* margin-bottom: -11%; */
  transform: translateY(-5vh);
}

.weui-tabbar__icon {
  width: 5.86vw;
  height: 5.86vw;
}

.weui-tabbar__label {
  font-size: 2.93vw;
}

.weui-tabbar__label_color {
  color: #FF564B;
}

.markdownContent{
  height: auto;
  width: 100%;
  padding-bottom: 100px;
  margin-top: 4vw;
  background-color: white;
}