<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webdrp.mapper.CardbaguseMapper">
    <insert id="insert" parameterType="com.webdrp.entity.Cardbaguse"
            useGeneratedKeys="true" keyProperty="id">
        insert into cardbaguse(
            id,richUserId,phone,`name`
        )
        values(
            #{id},#{richUserId},#{phone},#{name}
        )
    </insert>
    <!--sql片段，时间格式化-->
    <sql id="select">
         id,richUserId,phone,`name`,DATE_FORMAT(createTime,'%Y-%m-%d %H:%i:%s')as createTime,DATE_FORMAT(updateTime,'%Y-%m-%d %H:%i:%s')as updateTime
    </sql>

    <sql id="query">
        <if test="entity.id!=null">
            and id = #{entity.id}
        </if>
        <if test="entity.richUserId!=null">
            and richUserId = #{entity.richUserId}
        </if>
        <if test="entity.phone!=null">
            and phone = #{entity.phone}
        </if>
        <if test="entity.name!=null">
            and `name` = #{entity.name}
        </if>

    </sql>

    <delete id="delete" parameterType="com.webdrp.entity.Cardbaguse">
        delete from cardbaguse where id = #{id}
    </delete>

    <update id="update" parameterType="com.webdrp.entity.Cardbaguse">
        update cardbaguse
        <set>
            <if test="id!=null">
                id = #{id},
            </if>
            <if test="richUserId!=null">
                richUserId = #{richUserId},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
            <if test="name!=null">
                name = #{name},
            </if>

        </set>
        where id = #{id}
    </update>

    <select id="findAll" resultMap="resultList">
        select
        <include refid="select"></include>
        from cardbaguse where deleteTime is null
        <include refid="query"/>
    </select>

    <select id="count" resultType="long">
        select
        count(*)
        from cardbaguse where deleteTime is null
        <include refid="query"/>
    </select>

    <select id="loadAll" resultMap="resultList">
        select
        <include refid="select"></include>
        from cardbaguse where deleteTime is null
        <include refid="query"/>
        Limit #{pager.beginIndex} , #{pager.pageSize}
    </select>

    <select id="findById" resultMap="resultList">
        SELECT
        <include refid="select"></include>
        from cardbaguse where deleteTime is null  and id  = #{id}
    </select>


    <resultMap id="resultList" type="com.webdrp.entity.Cardbaguse" >
        <id column="id" property="id" />
        <result  column="richUserId" property="richUserId"/>
        <result  column="phone" property="phone"/>
        <result  column="name" property="name"/>
        <result  column="createTime" property="createTime"/>
        <result  column="updateTime" property="updateTime"/>

    </resultMap>
</mapper>
