<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webdrp.mapper.NotificationMapper">
    <insert id="insert" parameterType="com.webdrp.entity.Notification"
            useGeneratedKeys="true" keyProperty="id">
        insert into notification(id,
         title,
         subtitle,
         author,
         content,
         showdate,
         published,
         viewcount,
         `type`)
        values(#{id} ,
        #{title},
         #{subtitle},
         #{author},
         #{content},
         #{showdate},
         #{published},
         #{viewcount},
         #{type}
         )
    </insert>
    <!--sql片段，时间格式化-->
    <sql id="select">
          id,title,
         subtitle,
         author,
         content,
         showdate,
         published,
         viewcount,
         `type`,DATE_FORMAT(createTime,'%Y-%m-%d %h:%i:%s')as createTime,DATE_FORMAT(updateTime,'%Y-%m-%d %h:%i:%s')as updateTime
    </sql>

    <delete id="delete" parameterType="com.webdrp.entity.Notification">
        delete from notification where id = #{id}
    </delete>

    <update id="update" parameterType="com.webdrp.entity.Notification">
        update notification
        <set>
            <if test="id!=null">
                id = #{id},
            </if>
             <if test="title!=null">
                 title = #{title},
            </if>
            <if test="subtitle!=null">
                subtitle = #{subtitle},
            </if>
            <if test="author!=null">
                author = #{author},
            </if>
            <if test="content!=null">
                content = #{content},
            </if>
            <if test="showdate!=null">
                showdate = #{showdate},
            </if>
            <if test="published!=null">
                published = #{published},
            </if>
            <if test="viewcount!=null">
                viewcount = #{viewcount},
            </if>
            <if test="type!=null">
                `type` = #{type},
            </if>
            <if test="deleteTime!=null">
                deleteTime = #{deleteTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findAll" resultMap="resultList">
        select
        <include refid="select"></include>
        from notification where deleteTime is NULL
        <if test="entity.id!=null">
            and id = #{entity.id}
        </if>
        <if test="entity.type != null">
            and `type` = #{entity.type}
        </if>
        <if test="entity.published != null">
            and `published` = #{entity.published}
        </if>
        order by showdate desc
    </select>

    <select id="findById" resultMap="resultList">
        SELECT
        <include refid="select"></include>
         from notification where deleteTime IS NULL  and id  = #{id}
    </select>

    <select id="count" resultType="long">
        select count(*) from notification where deleteTime IS NULL
        <include refid="query"/>
    </select>

    <select id="loadAll" resultMap="resultList">
        select
        <include refid="select"/>
        from notification
        where deleteTime IS NULL
        <include refid="query"/>
        Limit #{pager.beginIndex} , #{pager.pageSize}
    </select>

    <update id="published">
        update notification set published = #{published} where id = #{id}
    </update>

    <sql id="query">
        <if test="entity.title!=null">
             and title = #{entity.title}
        </if>
        <if test="entity.subtitle!=null">
            and subtitle = #{entity.subtitle}
        </if>
        <if test="entity.showdate!=null">
            and showdate = #{entity.showdate}
        </if>
        <if test="entity.type!=null">
            and `type` = #{entity.type}
        </if>
        <if test="entity.published!=null">
            and published = #{entity.published}
        </if>
    </sql>

    <resultMap id="resultList" type="com.webdrp.entity.Notification" >
        <id column="id" property="id" />
        <result  column="title" property="title"/>
        <result  column="subtitle" property="subtitle"/>
        <result  column="author" property="author"/>
        <result  column="content" property="content"/>
        <result  column="showdate" property="showdate"/>
        <result  column="published" property="published"/>
        <result  column="viewcount" property="viewcount"/>
        <result  column="type" property="type"/>
        <result  column="createTime" property="createTime"/>
        <result  column="updateTime" property="updateTime"/>
    </resultMap>
</mapper>

