<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webdrp.mapper.ShareImageMapper">
    <insert id="insert" parameterType="com.webdrp.entity.ShareImage"
            useGeneratedKeys="true" keyProperty="id">
        insert into shareimage(id,
            memberId,commodityId,imageUrl
        )
        values(#{id},
             #{memberId},#{commodityId},#{imageUrl}
        )
    </insert>
    <!--sql片段，时间格式化-->
    <sql id="select">
          id,memberId,commodityId,imageUrl,DATE_FORMAT(createTime,'%Y-%m-%d %H:%i:%s')as createTime,DATE_FORMAT(updateTime,'%Y-%m-%d %H:%i:%s')as updateTime
    </sql>

    <sql id="query">
        <if test="entity.id!=null">
            and id = #{entity.id}
        </if>
        <if test="entity.memberId!=null">
            and memberId = #{entity.memberId}
        </if>
        <if test="entity.commodityId!=null">
            and commodityId = #{entity.commodityId}
        </if>
        <if test="entity.imageUrl!=null">
            and imageUrl = #{entity.imageUrl}
        </if>
    </sql>

    <delete id="delete" parameterType="com.webdrp.entity.ShareImage">
        delete from shareimage where id = #{id}
    </delete>


    <update id="update" parameterType="com.webdrp.entity.ShareImage">
        update shareimage
        <set>
            <if test="id!=null">
                id = #{id},
            </if>
            <if test="memberId!=null">
                memberId = #{memberId},
            </if>
            <if test="imageUrl!=null">
                imageUrl = #{imageUrl},
            </if>
            <if test="commodityId!=null">
                commodityId = #{commodityId},
            </if>
            <if test="deleteTime!=null">
                deleteTime = #{deleteTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findAll" resultMap="resultList">
        select
        <include refid="select"></include>
        from shareimage where deleteTime is NULL
        <include refid="query"/>
    </select>

    <select id="count" resultType="long">
        select
        count(*)
        from shareimage where deleteTime is NULL
        <include refid="query"/>
    </select>

    <select id="loadAll" resultMap="resultList">
        select
        <include refid="select"></include>
        from shareimage where deleteTime is NULL
        <include refid="query"/>
        Limit #{pager.beginIndex} , #{pager.pageSize}
    </select>

    <select id="findById" resultMap="resultList">
        SELECT
        <include refid="select"></include>
        from shareimage where deleteTime IS NULL  and id  = #{id}
    </select>

    <select id="findByMemberIdAndCommodityIdOnly" resultMap="resultList">
        select
        <include refid="select"/>
        from
        shareimage
        where deleteTime is null
        and memberId = #{memberId}
        and commodityId = #{commodityId}
        limit 1
    </select>

    <update id="clearAllQrCode">
        update shareimage set deleteTime = now() where id > 0 and deleteTime is null
    </update>

    <update id="clearOneQrCode">
        update shareimage set deleteTime = now() where id > 0 and deleteTime is null and commodityId = #{value}
    </update>




    <resultMap id="resultList" type="com.webdrp.entity.ShareImage" >
        <id column="id" property="id" />
        <result  column="memberId" property="memberId"/>
        <result  column="commodityId" property="commodityId"/>
        <result  column="imageUrl" property="imageUrl"/>
        <result  column="createTime" property="createTime"/>
        <result  column="updateTime" property="updateTime"/>
    </resultMap>
</mapper>

