<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webdrp.mapper.UserMapper">

    <sql id="select">
        id,`username`,`password`,nickName,sex,`position`,headImg,status,roleId,DATE_FORMAT(createTime,'%Y-%m-%d %H:%m:%s')as createTime,DATE_FORMAT(updateTime,'%Y-%m-%d %H:%m:%s')as updateTime
    </sql>
    <insert id="insert" parameterType="com.webdrp.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(id,
        `username`,
        `password`,
        `nickName`,
        sex,
        `position`,
        `status`,
        createTime,
        updateTime,
        deleteTime)
        values(#{id} ,
        #{username} ,
        #{password} ,
        #{nickName} ,
        #{sex} ,
        #{position} ,
        #{status} ,
        #{createTime} ,
        #{updateTime} ,
        #{deleteTime} )
    </insert>

    <delete id="delete" parameterType="com.webdrp.entity.User">
        delete from sys_user where id = #{id}
    </delete>

    <update id="update" parameterType="com.webdrp.entity.User">
        update sys_user
        <set>
            <if test="id!=null">
                id = #{id},
            </if>
            <if test="username!=null">
                username = #{username},
            </if>
            <if test="password!=null">
                password = #{password},
            </if>
            <if test="sex!=null">
                sex = #{sex},
            </if>
            <if test="roleId!=null">
               roleId = #{roleId},
            </if>
            <if test="position!=null">
                `position` = #{position},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="createTime!=null">
                createTime = #{createTime},
            </if>
            <if test="updateTime!=null">
                updateTime = #{updateTime},
            </if>
            <if test="deleteTime!=null">
                deleteTime = #{deleteTime},
            </if>

        </set>
        where id = #{id}
    </update>

    <select id="findAll" resultMap="resultList">
        select
        <include refid="select"></include>
        from sys_user where deleteTime IS NULL
        <include refid="query"/>
    </select>
    <sql id="query">
        <if test="entity.id!=null">
            and id = #{entity.id}
        </if>
        <if test="entity.username!=null">
            and username = #{entity.username}
        </if>
        <if test="entity.password!=null">
            and password = #{entity.password}
        </if>
        <if test="entity.sex!=null">
            and sex = #{entity.sex}
        </if>
        <if test="entity.position!=null">
            and `position` = #{entity.position}
        </if>
        <if test="entity.roleId!=null">
            and roleId = #{entity.roleId}
        </if>
        <if test="entity.status!=null">
            and status = #{entity.status}
        </if>
        <if test="entity.createTime!=null">
            and createTime = #{entity.createTime}
        </if>
        <if test="entity.updateTime!=null">
            and updateTime = #{entity.updateTime}
        </if>
    </sql>

    <select id="findById" resultMap="resultList">
        SELECT * from sys_user where deleteTime IS NULL  and id  = #{id}
    </select>

    <select id="findByUserName" parameterType="string" resultType="com.webdrp.entity.User">
        SELECT
        <include refid="select"></include>
         FROM sys_user WHERE sys_user.username = #{value} and deleteTime is NULL
    </select>
    
    <select id="count" resultType="long">
        SELECT
        count(*)
        FROM
        sys_user
        WHERE deleteTime is NULL
        <include refid="query"/>
    </select>
    
    <select id="loadAll" resultMap="resultList">
        SELECT
        <include refid="select"></include>
        FROM
        sys_user
        WHERE deleteTime is NULL
        <include refid="query"/>
    </select>


    <resultMap id="resultList" type="com.webdrp.entity.User" >
        <id column="id" property="id" />
        <result  column="username" property="username"/>
        <result  column="password" property="password"/>
        <result  column="nickName" property="nickName"/>
        <result  column="sex" property="sex"/>
        <result  column="roleId" property="roleId"/>
        <result  column="position" property="position"/>
        <result  column="status" property="status"/>
        <result  column="createTime" property="createTime"/>
        <result  column="updateTime" property="updateTime"/>
        <result  column="headImg" property="headImg"/>
    </resultMap>

    <resultMap id="resultListAll" type="com.webdrp.entity.vo.UserVo">
        <association property="role" ></association>
    </resultMap>
</mapper>

