<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>客服助手</title>
	<link rel="stylesheet" href="dist/lib/weui.min.css" th:href="@{/dist/lib/weui.min.css}"/>
	<link rel="stylesheet" href="dist/css/jquery-weui.min.css" th:href="@{/dist/css/jquery-weui.min.css}" />
	<link rel="stylesheet" href="css/header.min.css" th:href="@{/css/header.min.css}" />
</head>
<style>
	.ecgQRCode{

		width: 80%;
		margin: 0 auto;
		margin-top: 10vw;
	}
	.ecgQRCode >img{
		width: 100%;
		height: auto;
	}

</style>

<body>
<div class="header">
	<div class="goback">
		<a href="javascript:history.back(-1)">
			<img class="goback-img" src="img/goback.png" th:src="@{/img/goback.png}" />
		</a>
	</div>
	<div class="header-title">客服助手</div>
	<div class="gohome"></div>
</div>
<div class="ecgQRCode">
	<img src="testimg/1581844009.png" th:src="${kefu}" />
</div>

</body>

</html>