<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>小野集市</title>
	<link rel="stylesheet" href="dist/lib/weui.min.css" th:href="@{/dist/lib/weui.min.css}"/>
	<link rel="stylesheet" href="dist/css/jquery-weui.min.css" th:href="@{/dist/css/jquery-weui.min.css}" />
	<!--自定义样式-->
	<link rel="stylesheet" href="css/index.css" th:href="@{/css/index.css}" />
	<!--轮播依赖-->
	<script type="text/javascript" src="dist/lib/jquery-2.1.4.js" th:src="@{/dist/lib/jquery-2.1.4.js}"></script>
	<script  type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		ctxPath = /*[[@{/}]]*/ '';
		/*]]>*/
	</script>
</head>

<body>
<!--banner-->
<div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
	<div class="swiper-wrapper">
		<div class="swiper-slide" th:each="item : ${bannerList}"><img src="testimg/001.jpg" th:src="${item.url}" alt="" th:onclick="'action('+${item?.useIn}+','+${item.extra}+')'"></div>
	</div>
	<div class="swiper-pagination"></div>
</div>
<!--banner end-->

<!--分类 category-->
<div class="weui-grids" style="background-color: white;">
	<a href="" class="weui-grid js_grid" th:href="@{/wechat/h5/topic}">
		<div class="weui-grid__icon">
			<img src="dist/demos/images/icon_nav_button.png" th:src="@{/img/icon2/notify.png}" alt="">
		</div>
		<p class="weui-grid__label">
			通知
		</p>
	</a>
	<a href="" class="weui-grid js_grid" th:href="@{/wechat/h5/download}">
		<div class="weui-grid__icon">
			<img src="dist/demos/images/icon_nav_cell.png" th:src="@{/img/icon2/buyNext.png}" alt="">
		</div>
		<p class="weui-grid__label">
			APP下载
		</p>
	</a>
	<a href="" class="weui-grid js_grid" th:href="@{/wechat/h5/company}">
		<div class="weui-grid__icon">
			<img src="dist/demos/images/icon_nav_cell.png" th:src="@{/img/icon2/about.png}" alt="">
		</div>
		<p class="weui-grid__label">
			简介
		</p>
	</a>
</div>
<!--category end -->

<!--goods list-->
<div class="goods-lists clearfix">
	<div class="goosTab">
		<p>承祖古方膏药</p>
	</div>
	<div class="goods-list clearfix" id="goodsList">
	</div>

	<div class="goosTab" th:if="${buyOne}">
		<p>复购专区</p>
	</div>
	<div class="goods-list clearfix" id="goodsList1" th:if="${buyOne}">
	</div>
</div>
<!--goods list end-->

<!--加载更多-->
<div class="weui-loadmore" id="weui-loadmore">
	<i class="weui-loading"></i>
	<span class="weui-loadmore__tips">正在加载</span>
</div>

<div style="height: 100px;"></div>

<!--tabbar-->
<div class="weui-tabbar" style="position: fixed;">
	<a href="javascript:;" class="weui-tabbar__item weui-bar__item--on">
		<div class="weui-tabbar__icon">
			<img src="dist/demos/images/icon_nav_search_bar.png" th:src="@{/img/icon2/index.png}" alt="">
		</div>
		<p class="weui-tabbar__label">首页</p>
	</a>
	<a href="" th:href="@{/wechat/h5/orderList}" class="weui-tabbar__item">
		<div class="weui-tabbar__icon">
			<img src="dist/demos/images/icon_nav_msg.png" th:src="@{/img/icon2/order-1.png}" alt="">
		</div>
		<p class="weui-tabbar__label">订单</p>
	</a>
	<a href="javascript:;" class="weui-tabbar__item" th:href="@{/wechat/h5/shoppingCart}">
		<div class="weui-tabbar__icon">
			<img src="img/icon2/cart.png" alt="" th:src="@{/img/icon2/cart-1.png}">
		</div>
		<p class="weui-tabbar__label">购物车</p>
	</a>
	<a href="personal.html" th:href="@{/wechat/h5/personal}" class="weui-tabbar__item">
		<div class="weui-tabbar__icon">
			<img src="dist/demos/images/icon_nav_cell.png" th:src="@{/img/icon2/user-1.png}" alt="">
		</div>
		<p class="weui-tabbar__label">个人中心</p>
	</a>
</div>
<!--tabbar end-->
</body>
<script type='text/javascript' src='dist/js/swiper.js' th:src="@{/dist/js/swiper.js}" charset='utf-8'></script>
<script type="text/javascript" src="dist/js/jquery-weui.js" th:src="@{/dist/js/jquery-weui.js}"></script>
<script type="text/javascript" src="js/index.js" th:src="@{/js/index.js}"></script>

</html>