<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>通知</title>
		<link rel="stylesheet" href="dist/lib/weui.min.css" th:href="@{/dist/lib/weui.min.css}" />
		<link rel="stylesheet" href="dist/css/jquery-weui.min.css" th:href="@{/dist/css/jquery-weui.min.css}" />
		<script type="text/javascript" src="dist/lib/jquery-2.1.4.js" th:src="@{/dist/lib/jquery-2.1.4.js}"></script>
		<link rel="stylesheet" href="css/header.min.css" th:href="@{/css/header.min.css}"/>
		<script  type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			ctxPath = /*[[@{/}]]*/ '';
			/*]]>*/
		</script>
		<style>
			body {
				background-color: #F8F8F8;
			}
			.topic-list{
				box-sizing: border-box;
				margin: 1vw 1vw;
			}
			.topic-item{
				background-color: white;
				padding: 3vw;
				margin-top: 1vw;
			}
			.topic-date{
				font-size: 3vw;
				margin-left: 3vw;
				color: #da630c;
			}

		</style>
	</head>

	<body>
		<div class="header">
			<div class="goback">
				<a href="javascript:history.back(-1)">
					<img class="goback-img" src="img/goback.png" th:src="@{/img/goback.png}" />
				</a>
			</div>
			<div class="header-title">通知</div>
			<div class="gohome"></div>
		</div>
		<div class="topic-list" id="notificationList">
<!--			<div class="topic-item">-->
<!--				<p>小野<span class="topic-date">2019-09-09</span></p>-->
<!--				<p>关于停止更新通知,程序将在2020-01-03更新</p>-->
<!--			</div>-->

<!--			<div class="topic-item">-->
<!--				<p>小野<span class="topic-date">2019-09-09</span></p>-->
<!--				<p>关于停止更新通知,程序将在2020-01-03更新</p>-->
<!--			</div>-->


<!--			<div class="topic-item">-->
<!--				<a href="">-->
<!--					<p>小野<span class="topic-date">2019-09-09</span></p>-->
<!--					<p>关于停止更新通知,程序将在2020-01-03更新</p>-->
<!--				</a>-->
<!--			</div>-->
		</div>
		<!--加载更多-->
		<div class="weui-loadmore" id="weui-loadmore" style="display: none">
			<i class="weui-loading"></i>
			<span class="weui-loadmore__tips">正在加载</span>
		</div>

		<!--空数据页	-->
		<div class="weui-loadmore weui-loadmore_line" id="noData" style="display: none">
			<span class="weui-loadmore__tips">暂无更多数据</span>
		</div>
		<!--空数据页	end-->

	</body>
	<script type="text/javascript" src="dist/js/jquery-weui.js" th:src="@{/dist/js/jquery-weui.js}"></script>
	<script type="text/javascript" th:src="@{/js/notification.js}"></script>
</html>