body {
	background-color: #F8F8F8;
}

.sinInDiv{
	background-image: linear-gradient(to right, #ff8e05 , #ff5502);
	height: 80vw;
	display: flex;
	margin-top: -1vw;
	/*line-height: 40vw;*/
	text-align: center;
}
.signBtnCycle{
	width: 40vw;
	height: 40vw;
	opacity: 0.5;
	background-color: white;
	margin: 20vw auto;
	border-radius: 50%;
}

.signBtn{
	width: 34vw;
	height: 34vw;
	background-color: #fcff7b;
	margin:3vw auto;
	border-radius: 50%;
	font-size: 10vw;
	color: #9C27B0;
	line-height: 34vw;
}

.signRule{
	background-color: white;
	width: 96%;
	margin: 2vw auto 0 auto;
	padding: 7vw 10vw;
	color: gray;
	box-sizing: border-box;
}
.signList{
	background-color: white;
	width: 96%;
	margin: 2vw auto 0 auto;
	padding: 7vw 10vw;
	box-sizing: border-box;
}
.getProducts{
	background-color: white;
	width: 96%;
	margin: 2vw auto 0 auto;
	padding: 7vw 10vw;
	box-sizing: border-box;
	text-align: center;
}

.getProducts-a {
	font-size: 7vw;
	color: #ff8e05;
}
